@import "../utils/variable";
@import "../utils/mixin";


// card home page

.Card-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 0px 50px 0px 50px;
    margin-top: 43px;
    width: 94.5%;
    height: 2700px;
    align-items: center;



.card-img{
  
    border-radius: 10px;
    width: 100%;
    height: 340px;
    padding: 0;
    filter: brightness(80%);


}

.card-text{
  position: relative;
  line-height: 142.6%;
  font-size: 18px;
  color: $color-white;
  width: 80%;
  height: 0px;
  top: -30%;
  left: 5%;
}
a{
  width: 31.8%;
  height: 11%;
  margin-right: 40px;
  margin-bottom: 40px;
 margin-top: 40px;
}


}

// responsive tablettes
@media (max-width: 1440px){
  .Card-container{
    flex-wrap: nowrap;
    margin-top: 20px;
    padding: 0 0 60px 0 ;
    height: auto;
    width:100%;

   



.card-img{
      height: 255px;  
}

.card-text{
  top: -90px;
}
a{
  width: 90%;
  margin-right: 0px;
  margin-bottom: -50px;
 margin-top: 40px;
}


}



}
// responsive telephone
@media (max-width: 768px){
  .Card-container{
    flex-wrap: nowrap;
    margin-top: 20px;
    padding: 0 0 60px 0 ;
    height: auto;
    width:100%;

   



.card-img{
      height: 255px;  
}

.card-text{
  top: -90px;
}
a{
  width: 90%;
  margin-right: 0px;
  margin-bottom: -50px;
 margin-top: 40px;
}


}

}