
@import "../utils/variable";
@import "../utils/mixin";
@import "../utils/animation";




// collapse a propos
.collapse-container{
  width: 90%;
}

.collapse-btn{
    display: flex;
    justify-content: space-between;
    background-color: $color-red;
    height:47px ;
    margin-left: 100px;
    font-size: $font-size-p;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    color:  $color-white;
    border: $color-red;
    width: 100%;
    .collapse-fleche-open{
      animation: flecheAnimation 0.5s reverse forwards;
      }
   
      .collapse-fleche-close{
        animation: flecheAnimation 0.5s  forwards;
          }
    
}


.collapse-texte{
    background-color: #f7f7f7;
    color: $color-red;
    margin-left: 98px;
    font-size: $font-size-p;
    border-radius: 5px;
    margin-top: -1px;
    width: 100%;
    padding: 20px 0 20px 0;
    animation: apparition 0.3s ease-in-out;
    
}


#collapse-fleche{
  
  margin-right: 20px;
}