@import "../utils/variable";
@import "../utils/mixin";


// Footer

.footer-container{
    position: relative;
    bottom: -50px;
    margin-top: auto;
    background-color: #000000;
    width: 111.7%;
    height:200px ;
    margin-left: -100PX;
   
    
    
    .footer-img{
    width: 120px;
    margin-left: 47%;
    margin-top: 66px;
    margin-bottom: 15px;
    }
    
    .footer-text{
    color: $color-white;
    margin-left: 41%;
    font-size: $font-size-p;
    }
}


@media (max-width: 1440px){
    .footer-container{
        
        bottom: -50px;
       
       
        width: 118.7%;
        height:200px ;
        margin-left: -100PX;
       
        
        
        .footer-img{
        margin-left: 47%;
        margin-top: 66px;
        margin-bottom: 15px;
        }
        
        .footer-text{
        margin-left: 43%;
        font-size: 12px;
        }
    }
    
}



@media (max-width: 768px){
    .footer-container{
        
        bottom: -50px;
       
       
        width: 133%;
        height:200px ;
        margin-left: -100PX;
       
        
        
        .footer-img{
        margin-left: 47%;
        margin-top: 66px;
        margin-bottom: 15px;
        }
        
        .footer-text{
        margin-left: 41%;
        font-size: 12px;
        }
    }



}