@import "../utils/variable";
@import "../utils/mixin";




.haeder-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

.header-accueil{
color: $color-red;
position: relative;
top: 17px;
font-size: $font-size-p;
text-decoration: none;
}

.header-propos{
    color: $color-red;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: $font-size-p;
    text-decoration: none;
}



.active{
    text-decoration: underline;
}

 }