@import "../utils/variable";
@import "../utils/mixin";




.haeder-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

.header-accueil{
color: $color-red;
position: relative;
top: 17px;
font-size: $font-size-p;
text-decoration: none;
}

.header-propos{
    color: $color-red;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: $font-size-p;
    text-decoration: none;
}



.active{
    text-decoration: underline;
}

 }

 @media (max-width: 1440px) { 
    .haeder-container{
        margin-top: 20px;
    .header-accueil{
    top: 22px;
    font-size: 12px;
    }
    
    .header-propos{
        margin-left: 20px;
        top: 22px;
        font-size: 12px;
      
       
    }
.header-img{
    width: 145px;
}
    
     }


 }