@import "../utils/variable";
@import "../utils/mixin";

.slideshow-container {
  

  .slideshow-img {
    width: 100%;
    border-radius: 25px;
    height: 415px;
  }

  .slideshow-fleche-gauche {
    position: relative;
    background-color: transparent;
    border: transparent;
    font-size: 80px;
    bottom: -250px;
  }

  .slideshow-fleche-droite {
    position: relative;
    background-color: transparent;
    border: transparent;
    margin-left: 96.5%;
    font-size: 80px;
    top: -250px;
  }
}
