@keyframes flecheAnimation {
    from {
      
      transform: rotate(0deg)  ;
    }
    to{
      transform: rotate(180deg) ;
    }
  }
  @keyframes apparition {
    0% {
      transform: scaleY(0);
      transform-origin: top; 
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }
  