@import "../utils/variable";
@import "../utils/mixin";
@import"../utils/animation";

.logement-titre {
  color: $color-red;
  font-size: 36px;
  margin-top: -60px;
}

.logement-location {
  font-size: 18px;
  color: $color-red;
}

.logement-container-profil {
  margin-left: 91%;
  margin-top: -100px;
  display: flex;
  gap: 20px;
}
.logement-name {
  color: $color-red;
  font-size: 18px;
}
.logement-host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.logement-container-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logement-tags {
  color: $color-white;
  font-size: 14px;
  background-color: $color-red;
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
}

.logement-container-etoile{
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: -50px;
}

.logement-etoile-rouge{
  font-size: 20px;
  color: $color-red;
}
.logement-etoile-grise{
  font-size: 20px;
  color: #ffff;
}




.logement-container-collapse{
  display: flex;
  flex-direction: row;
  gap: 12%;
  margin-top: 4%;
}


.logement-btn{
  display: flex;
  justify-content: space-between;
  background-color: $color-red;
  height:47px ;
  font-size: $font-size-p;
  align-items: center;
  border-radius: 5px;
  color:  $color-white;
  border: $color-red;
  width: 39VW;
  .collapse-fleche-open{
    animation: flecheAnimation 0.5s reverse forwards;
    }
 
    .collapse-fleche-close{
      animation: flecheAnimation 0.5s  forwards;
        }
}



.logement-texte{
  background-color: #f7f7f7;
  color: $color-red;
  font-size: $font-size-p;
  border-radius: 5px;
  margin-top: -1px;
  width: 37VW;
  padding: 20px 20px 20px 20px;
  animation: apparition 0.3s ease-in-out;
}

.logement-texte2{
  background-color: #f7f7f7;
  color: $color-red;
  font-size: $font-size-p;
  border-radius: 5px;
  margin-top: -1px;
  width: 39VW;
  padding-top: 10px;
  animation: apparition 0.3s ease-in-out;
}


    
ul{
  list-style-type: none;
}
li{
margin-left: -20px;
padding-bottom: 15px;
}


