@import "../utils/variable";
@import "../utils/mixin";

.logement-titre {
  color: $color-red;
  font-size: 36px;
  margin-top: -60px;
}

.logement-location {
  font-size: 18px;
  color: $color-red;
}

.logement-container-profil {
  margin-left: 91%;
  margin-top: -100px;
  display: flex;
  gap: 20px;
}
.logement-name {
  color: $color-red;
  font-size: 18px;
}
.logement-host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.logement-container-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logement-tags {
  color: $color-white;
  font-size: 14px;
  background-color: $color-red;
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
}

.logement-container-etoile{
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: -50px;
}

.logement-etoile-rouge{
  font-size: 20px;
  color: $color-red;
}
.logement-etoile-grise{
  font-size: 20px;
  color: #ffff;
}

.logement-collapse-container{
  display:flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  gap: 13%;
  margin-top: 1%;
}

.logement-btn{
  display: flex;
  justify-content: space-between;
  background-color: $color-red;
  height:47px ;
  font-size: $font-size-p;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  color:  $color-white;
  border: $color-red;
  width: 39VW;
  
}
.logement-btn-none{
  display: none;
  width: 0px;
  height: 0;
}

.logement-texte{
  background-color: #f7f7f7;
  color: $color-red;
  font-size: $font-size-p;
  border-radius: 5px;
  margin-top: -1px;
  width: 39VW;
  padding: 20px 0 20px 0;
}
    
