@import "../utils/variable";
@import "../utils/mixin";
@import"../utils/animation";

.logement-titre {
  color: $color-red;
  font-size: 36px;
  margin-top: -60px;
}

.logement-location {
  font-size: 18px;
  color: $color-red;
}

.logement-container-profil {
  margin-left: 91%;
  margin-top: -100px;
  display: flex;
  gap: 20px;
}
.logement-name {
  color: $color-red;
  font-size: 18px;
}
.logement-host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.logement-container-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logement-tags {
  color: $color-white;
  font-size: 14px;
  background-color: $color-red;
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
}

.logement-container-etoile{
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: -50px;
}

.logement-etoile-rouge{
  font-size: 20px;
  color: $color-red;
}
.logement-etoile-grise{
  font-size: 20px;
  color: #ffff;
}




.logement-container-collapse{
  display: flex;
  flex-direction: row;
  gap: 12%;
  margin-top: 4%;
}


.logement-btn{
  display: flex;
  justify-content: space-between;
  background-color: $color-red;
  height:47px ;
  font-size: $font-size-p;
  align-items: center;
  border-radius: 5px;
  color:  $color-white;
  border: $color-red;
  width: 39VW;
  .collapse-fleche-open{
    animation: flecheAnimation 0.5s reverse forwards;
    }
 
    .collapse-fleche-close{
      animation: flecheAnimation 0.5s  forwards;
        }
}



.logement-texte{
  background-color: #f7f7f7;
  color: $color-red;
  font-size: $font-size-p;
  border-radius: 5px;
  margin-top: -1px;
  width: 37VW;
  padding: 20px 20px 20px 20px;
  animation: apparition 0.3s ease-in-out;
}

.logement-texte2{
  background-color: #f7f7f7;
  color: $color-red;
  font-size: $font-size-p;
  border-radius: 5px;
  margin-top: -1px;
  width: 39VW;
  padding-top: 10px;
  animation: apparition 0.3s ease-in-out;
}


    
ul{
  list-style-type: none;
}
li{
margin-left: -20px;
padding-bottom: 15px;
}


@media (max-width: 1440px){
  .logement-titre {
    font-size: 18px;
    margin-top: -20px;
  }
  
  .logement-location {
    font-size: 14px;
  }
  
  .logement-container-profil {
    position: relative;
    margin-left: 70%;
    margin-top: 0px;
    display: flex;
    gap: 0px;
    top: 30px;
  }
  .logement-name {
    color: $color-red;
    font-size: 12px;
  }
  .logement-host-picture {
    position: relative;
    bottom: -10px;
    width: 32px;
    height: 32px;
  }
  
  .logement-container-tags {
    position: relative;
    top: -85px;
    display: flex;
    gap: 10px;
  }
  
  .logement-tags {
    font-size: 10px;
    padding: 5px 15px 5px 15px;
  }
  
  .logement-container-etoile{
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: start;
   top: -20px;
  }
  
  .logement-etoile-rouge{
    font-size: 10px;
  }
  .logement-etoile-grise{
    font-size: 10px;
  }
  
  
  
  
  .logement-container-collapse{
    flex-direction: column;
    gap: 0%;
    top: 50px;
  }
  
  
  .logement-btn{
    height:30px ;
    font-size: 13px;
    width: 89VW;
    margin-bottom: 20px;
    .collapse-fleche-open{
      animation: flecheAnimation 0.5s reverse forwards;
      }
   
      .collapse-fleche-close{
        animation: flecheAnimation 0.5s  forwards;
          }
  }
  
  
  
  .logement-texte{
    font-size: 13px;
    border-radius: 5px;
    width: 78.5VW;
    margin-top: -20px;
    
  }
  
  .logement-texte2{
    font-size: 13px;
    margin-top: -20px;
    width: 89VW;
  }
  
}