
.collapse-btn{
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    width: 90%;
    height:47px ;
    margin-left: 100px;
    font-size: 24px;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
    border: #FF6060;
}

.collapse-texte{
    background-color: #f7f7f7;
    color: #FF6060;
    margin-left: 98px;
    width: 89%;
    font-size: 24px;
    border-radius: 5px;
    padding: 36px 0px 19px 19px;
    margin-top: -1px;
}



.collapse-fleche{
    width: 24px;
    margin-right: 2%;
}