.haeder-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}



.header-accueil{
color: #ff6060;
position: relative;
top: 17px;
font-size: 24px;

}


.header-propos{
    color: #ff6060;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: 24px;
}

.header-selected{
    color: #ff6060;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: 24px;
    text-decoration: none;
}

.active{
    text-decoration: none;
}