.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-container .error-titre {
  font-size: 263px;
  color: #ff6060;
}
.error-container .error-texte {
  font-size: 36px;
  color: #ff6060;
  margin-top: -50px;
}
.error-container .error-link {
  color: #ff6060;
  font-size: 18px;
  margin-top: 200px;
}

@media (max-width: 1440px) {
  .error-container .error-titre {
    font-size: 96px;
  }
  .error-container .error-texte {
    font-size: 18px;
    margin-top: 50px;
  }
  .error-container .error-link {
    font-size: 14px;
    margin-top: 100px;
  }
}
.banner-container-propos {
  width: 90%;
  height: 223px;
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}

.banner-container-home {
  width: 90%;
  height: 223px;
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}

.banner-img-home {
  position: absolute;
  width: 90%;
  height: 223px;
  border-radius: 25px;
  z-index: 1;
  filter: brightness(60%);
}

.banner-img-propos {
  position: absolute;
  width: 90%;
  height: 223px;
  border-radius: 25px;
  z-index: 1;
  filter: brightness(60%);
}

.banner-titre {
  position: relative;
  font-size: 48px;
  z-index: 2;
  color: white;
}

@media (max-width: 1440px) {
  .banner-container-propos {
    width: 90%;
    height: 223px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .banner-container-home {
    height: 111px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .banner-img-home {
    height: 111px;
  }
  .banner-img-propos {
    height: 223px;
  }
  .banner-titre {
    font-size: 24px;
  }
}
.Card-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  border-radius: 25px;
  margin-top: 43px;
  padding: 50px 50px 0px 50px;
  width: 94%;
  height: 2500px;
  align-items: center;
  column-gap: 30px;
}
.Card-container .card-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.Card-container .card-text {
  line-height: 142.6%;
  font-size: 18px;
  color: white;
  width: 20%;
  height: 0px;
  margin-top: -5%;
  margin-left: -4%;
  margin-bottom: 8%;
}
.Card-container a {
  width: 25%;
  height: 12%;
}

@media (max-width: 1440px) {
  .Card-container {
    flex-wrap: nowrap;
    margin-top: 20px;
    padding: 0 0 60px 0;
    width: 100%;
    height: auto;
    row-gap: 40px;
  }
  .Card-container .card-img {
    margin-top: 20px;
    width: 75vw;
    height: 255px;
    margin-left: -100px;
  }
  .Card-container .card-text {
    width: 75%;
    margin-top: -30%;
    margin-left: -5%;
    margin-bottom: 8%;
  }
}
@keyframes flecheAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes apparition {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
.collapse-container {
  width: 90%;
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  height: 47px;
  margin-left: 100px;
  font-size: 24px;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  color: white;
  border: #ff6060;
  width: 100%;
}
.collapse-btn .collapse-fleche-open {
  animation: flecheAnimation 0.5s reverse forwards;
}
.collapse-btn .collapse-fleche-close {
  animation: flecheAnimation 0.5s forwards;
}

.collapse-texte {
  background-color: #f7f7f7;
  color: #ff6060;
  margin-left: 98px;
  font-size: 24px;
  border-radius: 5px;
  margin-top: -1px;
  width: 100%;
  padding: 20px 0 20px 0;
  animation: apparition 0.3s ease-in-out;
}

#collapse-fleche {
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .collapse-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 13px;
    margin-left: 0px;
    width: 90vw;
  }
  .collapse-texte {
    font-size: 13px;
    margin-left: 0px;
    width: 90vw;
  }
}
.footer-container {
  position: relative;
  bottom: -50px;
  margin-top: auto;
  background-color: #000000;
  width: 111.7%;
  height: 200px;
  margin-left: -100PX;
}
.footer-container .footer-img {
  width: 120px;
  margin-left: 47%;
  margin-top: 66px;
  margin-bottom: 15px;
}
.footer-container .footer-text {
  color: white;
  margin-left: 41%;
  font-size: 24px;
}

@media (max-width: 1440px) {
  .footer-container {
    bottom: -50px;
    width: 135.5%;
    height: 200px;
    margin-left: -100PX;
  }
  .footer-container .footer-img {
    margin-left: 47%;
    margin-top: 66px;
    margin-bottom: 15px;
  }
  .footer-container .footer-text {
    margin-left: 41%;
    font-size: 12px;
  }
}
.haeder-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.haeder-container .header-accueil {
  color: #ff6060;
  position: relative;
  top: 17px;
  font-size: 24px;
  text-decoration: none;
}
.haeder-container .header-propos {
  color: #ff6060;
  margin-left: 57px;
  position: relative;
  top: 17px;
  font-size: 24px;
  text-decoration: none;
}
.haeder-container .active {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .haeder-container {
    margin-top: 20px;
  }
  .haeder-container .header-accueil {
    top: 22px;
    font-size: 12px;
  }
  .haeder-container .header-propos {
    margin-left: 20px;
    top: 22px;
    font-size: 12px;
  }
  .haeder-container .header-img {
    width: 145px;
  }
}
.slideshow-container .slideshow-img {
  width: 100%;
  border-radius: 25px;
  height: 415px;
}
.slideshow-container .slideshow-fleche-gauche {
  position: relative;
  background-color: transparent;
  border: transparent;
  font-size: 80px;
  bottom: -250px;
}
.slideshow-container .slideshow-fleche-droite {
  position: relative;
  background-color: transparent;
  border: transparent;
  margin-left: 96.5%;
  font-size: 80px;
  top: -250px;
}

@media (max-width: 1440px) {
  .slideshow-container .slideshow-img {
    height: 255px;
  }
  .slideshow-container .slideshow-fleche-gauche {
    font-size: 30px;
    bottom: -150px;
  }
  .slideshow-container .slideshow-fleche-droite {
    margin-left: 91%;
    font-size: 30px;
    top: -150px;
  }
}
@keyframes flecheAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes apparition {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}
.logement-titre {
  color: #ff6060;
  font-size: 36px;
  margin-top: -60px;
}

.logement-location {
  font-size: 18px;
  color: #ff6060;
}

.logement-container-profil {
  margin-left: 91%;
  margin-top: -100px;
  display: flex;
  gap: 20px;
}

.logement-name {
  color: #ff6060;
  font-size: 18px;
}

.logement-host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.logement-container-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logement-tags {
  color: white;
  font-size: 14px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
}

.logement-container-etoile {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: -50px;
}

.logement-etoile-rouge {
  font-size: 20px;
  color: #ff6060;
}

.logement-etoile-grise {
  font-size: 20px;
  color: white;
}

.logement-container-collapse {
  display: flex;
  flex-direction: row;
  gap: 12%;
  margin-top: 4%;
}

.logement-btn {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  height: 47px;
  font-size: 24px;
  align-items: center;
  border-radius: 5px;
  color: white;
  border: #ff6060;
  width: 39VW;
}
.logement-btn .collapse-fleche-open {
  animation: flecheAnimation 0.5s reverse forwards;
}
.logement-btn .collapse-fleche-close {
  animation: flecheAnimation 0.5s forwards;
}

.logement-texte {
  background-color: #f7f7f7;
  color: #ff6060;
  font-size: 24px;
  border-radius: 5px;
  margin-top: -1px;
  width: 37VW;
  padding: 20px 20px 20px 20px;
  animation: apparition 0.3s ease-in-out;
}

.logement-texte2 {
  background-color: #f7f7f7;
  color: #ff6060;
  font-size: 24px;
  border-radius: 5px;
  margin-top: -1px;
  width: 39VW;
  padding-top: 10px;
  animation: apparition 0.3s ease-in-out;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -20px;
  padding-bottom: 15px;
}

@media (max-width: 1440px) {
  .logement-titre {
    font-size: 18px;
    margin-top: -20px;
  }
  .logement-location {
    font-size: 14px;
  }
  .logement-container-profil {
    position: relative;
    margin-left: 70%;
    margin-top: 0px;
    display: flex;
    gap: 0px;
    top: 30px;
  }
  .logement-name {
    color: #ff6060;
    font-size: 12px;
  }
  .logement-host-picture {
    position: relative;
    bottom: -10px;
    width: 32px;
    height: 32px;
  }
  .logement-container-tags {
    position: relative;
    top: -85px;
    display: flex;
    gap: 10px;
  }
  .logement-tags {
    font-size: 10px;
    padding: 5px 15px 5px 15px;
  }
  .logement-container-etoile {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: start;
    top: -20px;
  }
  .logement-etoile-rouge {
    font-size: 10px;
  }
  .logement-etoile-grise {
    font-size: 10px;
  }
  .logement-container-collapse {
    flex-direction: column;
    gap: 0%;
    top: 50px;
  }
  .logement-btn {
    height: 30px;
    font-size: 13px;
    width: 89VW;
    margin-bottom: 20px;
  }
  .logement-btn .collapse-fleche-open {
    animation: flecheAnimation 0.5s reverse forwards;
  }
  .logement-btn .collapse-fleche-close {
    animation: flecheAnimation 0.5s forwards;
  }
  .logement-texte {
    font-size: 13px;
    border-radius: 5px;
    width: 78.5VW;
    margin-top: -20px;
  }
  .logement-texte2 {
    font-size: 13px;
    margin-top: -20px;
    width: 89VW;
  }
}
body {
  margin: 0 100px 0 100px;
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  box-sizing: border-box;
  object-fit: cover;
}

@media (max-width: 1440px) {
  body {
    margin: 0 20px 0 20px;
  }
}

/*# sourceMappingURL=index.css.map */
