.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-container .error-titre {
  font-size: 263px;
  color: #ff6060;
}
.error-container .error-texte {
  font-size: 36px;
  color: #ff6060;
  margin-top: -50px;
}
.error-container .error-link {
  color: #ff6060;
  font-size: 18px;
  margin-top: 200px;
}

.banner-container {
  width: 90%;
  height: 223px;
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}
.banner-container .banner-img {
  position: absolute;
  width: 90%;
  height: 223px;
  border-radius: 25px;
  z-index: 1;
  filter: brightness(60%);
}
.banner-container .banner-titre {
  position: relative;
  font-size: 48px;
  z-index: 2;
  color: white;
}

.Card-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  border-radius: 25px;
  margin-top: 43px;
  padding: 50px 50px 0px 50px;
  width: 94%;
  height: 2500px;
  align-items: center;
  column-gap: 30px;
}
.Card-container .card-img {
  background-color: #ff6060;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.Card-container .card-text {
  line-height: 142.6%;
  font-size: 18px;
  color: white;
  width: 20%;
  height: 0px;
  margin-top: -5%;
  margin-left: -4%;
  margin-bottom: 8%;
  outline: 0px solid #ac050b;
}
.Card-container a {
  width: 25%;
  height: 12%;
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  width: 90%;
  height: 47px;
  margin-left: 100px;
  font-size: 24px;
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
  color: white;
  border: #ff6060;
}

.collapse-texte {
  background-color: #f7f7f7;
  color: #ff6060;
  margin-left: 98px;
  width: 89%;
  font-size: 24px;
  border-radius: 5px;
  padding: 36px 0px 19px 19px;
  margin-top: -1px;
}

.collapse-btn .collapse-fleche-open {
  animation: flecheAnimation 0.5s reverse forwards;
}

.collapse-btn .collapse-fleche-close {
  animation: flecheAnimation 0.5s forwards;
}

#collapse-fleche {
  margin-right: 20px;
}

@keyframes flecheAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.footer-container {
  position: relative;
  bottom: -50px;
  margin-top: auto;
  background-color: #000000;
  width: 111.7%;
  height: 200px;
  margin-left: -100PX;
}
.footer-container .footer-img {
  width: 120px;
  margin-left: 47%;
  margin-top: 66px;
  margin-bottom: 15px;
}
.footer-container .footer-text {
  color: white;
  margin-left: 41%;
  font-size: 24px;
}

.haeder-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.haeder-container .header-accueil {
  color: #ff6060;
  position: relative;
  top: 17px;
  font-size: 24px;
}
.haeder-container .header-propos {
  color: #ff6060;
  margin-left: 57px;
  position: relative;
  top: 17px;
  font-size: 24px;
}
.haeder-container .header-selected {
  color: #ff6060;
  margin-left: 57px;
  position: relative;
  top: 17px;
  font-size: 24px;
  text-decoration: none;
}
.haeder-container .active {
  text-decoration: none;
}

.slideshow-container .slideshow-img {
  width: 100%;
  border-radius: 25px;
  height: 415px;
}
.slideshow-container .slideshow-fleche-gauche {
  position: relative;
  background-color: transparent;
  border: transparent;
  font-size: 80px;
  bottom: -250px;
}
.slideshow-container .slideshow-fleche-droite {
  position: relative;
  background-color: transparent;
  border: transparent;
  margin-left: 96.5%;
  font-size: 80px;
  top: -250px;
}

.logement-titre {
  color: #ff6060;
  font-size: 36px;
  margin-top: -60px;
}

.logement-location {
  font-size: 18px;
  color: #ff6060;
}

.logement-container-profil {
  margin-left: 91%;
  margin-top: -100px;
  display: flex;
  gap: 20px;
}

.logement-name {
  color: #ff6060;
  font-size: 18px;
}

.logement-host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.logement-container-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logement-tags {
  color: white;
  font-size: 14px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 5px 35px 5px 35px;
}

.logement-container-etoile {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: -50px;
}

.logement-etoile-rouge {
  font-size: 20px;
  color: #ff6060;
}

.logement-etoile-grise {
  font-size: 20px;
  color: white;
}

body {
  margin: 0 100px 0 100px;
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  box-sizing: border-box;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
