// *

body{
    margin: 0 100px 0 100px;
    object-fit: cover;
    font-family: 'Montserrat', sans-serif;
}


// header

.haeder-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}



.header-accueil{
color: #ff6060;
position: relative;
top: 17px;
font-size: 24px;

}


.header-propos{
    color: #ff6060;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: 24px;
}

.header-selected{
    color: #ff6060;
    margin-left: 57px;
    position: relative;
    top: 17px;
    font-size: 24px;
    text-decoration: none;
}

.active{
    text-decoration: none;
}



// banner

.banner-container{
    width: 90%;
    height: 223px;
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    
    
}

.banner-img{
    position:absolute;
    width: 90%;
    height: 223px;
    border-radius: 25px;
    z-index: 1;
    filter: brightness(60%);
}

.banner-titre{
    position: relative;
    font-size: 48px;
    z-index: 2;
    color: white;
}

// card home page

.Card-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    border-radius: 25px;
    margin-top: 43px;
    position: absolute;
    padding: 50px 50px 0px 50px;
    width: 84%;
    height: 290%;
    align-items: center;
}

.card-img{
    background-color: #ff6060;
    border-radius: 10px;
    width: 28%;
    height: 12.5%;
    padding: 0;
    
}

.card-text{
  line-height: 142.6%;
  font-size: 18px;
  color: #ffffff;
  width: 20%;
  height: 0px;
  margin-top: -5%;
  margin-left: -6%;
  margin-bottom: 8%;
}

// collapse a propos

.collapse-btn{
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    width: 90%;
    height:47px ;
    margin-left: 100px;
    font-size: 24px;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
    border: #FF6060;
}

.collapse-texte{
    background-color: #f7f7f7;
    color: #FF6060;
    margin-left: 98px;
    width: 89%;
    font-size: 24px;
    border-radius: 5px;
    padding: 36px 0px 19px 19px;
    margin-top: -1px;
}

// Footer

.footer-container{
    position: absolute;
    bottom: -2500px;
    background-color: #000000;
    width: 100%;
    height:200px ;
    margin-left: -100px;
    }
    
    .footer-img{
    width: 120px;
    margin-left: 47%;
    margin-top: 66px;
    margin-bottom: 15px;
    }
    
    .footer-text{
    color: white;
    margin-left: 41%;
    font-size: 24px;
    }




