@import "./utils/variable.scss";
@import "./utils/mixin";
@import "./Pages/Error.scss";
@import "./components/Banner.scss";
@import "./components/card.scss";
@import "./components/collapse.scss";
@import "./components/Footer.scss";
@import "./components/Header.scss";
@import "./components/slideshow";
@import "./Pages/Logement";
// *

body{
    margin: 0 100px 0 100px;
    font-family: 'Montserrat', sans-serif;


}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


img{
    box-sizing: border-box;
    object-fit: cover;
    
  }

  @media (max-width: 1440px){
    body{
        margin: 0 40px 0 40px;
    }
  }

  @media (max-width: 768px){
    body{
        margin: 0 20px 0 20px;
    }
  }
